
/* create new news form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  min-height: 1000px;
  margin-top:80px;
}
.create label {
  text-align: left;
  display: block;
  margin-top:30px;
}
/* .create h2 {
  font-size: 40px;
  color: #f1356d;
  margin-bottom: 30px;
} */
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  /* background: #f1356d;
  color: #fff; */
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffc107;
  border: 2px solid #ffc107;
  background-color: #252323;
}

.create button:hover{
  background-color: #ffc107;
  color: #252323;
}

/*  ...fetchdata...*/


#fetch_data .view_button {
  /* background: #f1356d;
  color: #fff; */
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffc107;
  /* border: 2px solid #ffc107; */
  background-color: #252323;
  text-decoration: none;
}

#fetch_data .view_button:hover{
  background-color: #ffc107;
  color: #252323;
}

#fetch_data .fasave:hover{
  color: #ff0000 !important;
}

/*  ...wishlist...*/


#wishlist .view_button {
  /* background: #f1356d;
  color: #fff; */
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffc107;
  /* border: 2px solid #ffc107; */
  background-color: #252323;
  text-decoration: none;
}

#wishlist .view_button:hover{
  background-color: #ffc107;
  color: #252323;
}

#wishlist .ImBin:hover{
  color: #ff0000 !important;
}


/*...navbar->dropdown......*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 
      0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content NavLink {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content NavLink:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*............footer..........*/

.footer {
  height: 50px;
  padding: 70px 0px 60px;
}

.footer h6 {
  line-height: 50px;
}

.footer h1 {
  font-weight: bold;
}

.jumbotron {
  height: 130px;
  padding-top: 5px !important;
  display: flex;
  align-items: center;
}

.icon{
  font-size:50px;
  align-self: center;
}

.icon-yt{
  font-size:60px;
  align-self: center;
}

.icon:hover,.icon-yt:hover{
  color: #ff0000 !important;
}



/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

